[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
faker = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
