h2, h3 {
    margin: 0;
}
.side_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.side_name{
    margin: 16pt;
}
.side_icon {
    justify-content: center;
}
.title_icon {
    height: 17pt;
    width: 17pt;
    font-size: 17pt;
}
.side_divider {
    margin-left: 16pt;
}