.side_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site_list_item {
    cursor: pointer;
}
.side_name{
    margin: 16pt;
    width: 100%;
}
.side_icon {
    justify-content: center;
}
.title_icon {
    height: 17pt;
    width: 17pt;
    font-size: 17pt;
    margin-right: 16pt;
}
.side_divider {
    margin-left: 16pt;
}