<cdk-virtual-scroll-viewport itemSize="95" class="side_list">
    <app-person-cell
        fxLayout="row"
        *cdkVirtualFor="let person of dataSource"
        (click)="changeSelectPerson(person)"
        [person]="person"
    >
    </app-person-cell>
    <div fxLayout="row" *ngIf="dataSource.hasError">
        <div fxLayout="column" fxFlexFill>
            <div class="side_critical">
                <h2 class="high_emphasis">Failed to Load Data</h2>
            </div>
        </div>
    </div>
    <div class="loading_container" *ngIf="dataSource.isLoading && !dataSource.hasError">
      <div class="loading-bar">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <span>Loading</span>
    </div>
</cdk-virtual-scroll-viewport>
