.content {
    margin: 0 60pt;
}
.header_information {
    padding: 32pt 16pt 8pt 16pt;
}
.item_information{
    padding: 16pt;
}
.value_information{
    text-align: right;
}
.divider_information{
    margin: 0 16pt;
}